
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: $mainFontSize; font-family: $mainFontFamily; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $mainColor $darkGrey;
}

#app { position: relative; width: 100%; }

h1,
h3 { font: 600 20px/42px 'Montserrat'; }
h2 { font: normal 22px/42px 'Montserrat'; }
h4 { font: bold 20px/1.2 'Montserrat'; }
h5 { font: normal 18px/1.2 'Montserrat'; }
h6 { font: bold 16px/1.2 'Montserrat'; }

p { font: normal 12px/20px 'Montserrat'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

hr { background: $borderColor; }

.container { position: relative; width: 100%; margin: 0 auto; padding: 32px 16px 64px;

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: 100%; }
  @media screen and (min-width: $laptopWidth) {}
  @media screen and (min-width: $desktopWidth) { width: 100%; padding: 40px 64px 80px; }
  @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $desktopWidth) {
  h1,
  h3 { font-size: 22px; }

  p { font-size: 14px; line-height: 17px; }

  a:hover { color: $linkColor_hover; }
}


/* Form styles */
form {
  fieldset { display: flex; }

  label { color: $darkGrey; font: normal 16px/1 'Montserrat'; }
  textarea,
  input { width: 100%; background: transparent; color: $mainColor; font: normal 16px/1 'Montserrat';
    &::placeholder { color: $lightGrey; }
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 96px; border: 1px solid $darkGrey; padding: 8px 16px; resize: none; }
  input { height: 48px; border-bottom: 1px solid $darkGrey; padding: 0 16px; }

  @media screen and (min-width: $desktopWidth) {}
}

.button {
  a { width: 100%; height: 48px; border: 1px solid $linkColor; padding: 0 32px; background: $linkColor; color: $white; font: bold 16px/1 'Montserrat'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }
  }

  @media screen and (min-width: $desktopWidth) {
    a { width: auto;
      &:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $white; }
    }
  }
}


/* Layout styles */
#sidebar-menu { height: 96px; @include z('sidebar-menu');
  .container { height: 100%; padding: 0 32px;
    .logo { height: 100%; display: flex; justify-content: center; align-items: center;
      a { flex: none;
        img { width: 48px; height: 48px; }
      }
    }
    .main-menu { display: none; }

    @media screen and (min-width: $tabletWidth) {
      .logo {}
      .main-menu {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 32px 18px;
      .logo { height: auto; margin-bottom: 48px; }
      .main-menu { height: calc(100% - 112px); display: flex;
        ul { width: 100%; display: flex; flex-direction: column;
          li { display: flex;
            &:not(:last-child) { margin-bottom: 44px; }
            &:nth-last-child(2) { margin-top: auto; }
            &.current a { background: $white;
              svg { fill: $mainColor; }
            }

            a { min-width: 80px; color: $mainColor_opacity; padding: 30px; display: flex; align-items: center;
              &:hover { min-width: 268px; box-shadow: 0 0 20px rgba(71, 78, 124, .1); background: $white; color: $mainColor;
                svg { fill: $mainColor; }
                span { display: block; }
              }

              svg { width: 20px; height: 20px; fill: $mainColor_opacity; flex: none; }
              span { margin-left: 28px; font-weight: 600; font-size: 14px; line-height: 17px; white-space: nowrap; display: none; transition: all .3s ease-out; }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { position: fixed; left: 0; top: 0; width: 116px; height: 100vh; }
}

#sidebar-notices { background: $mainBackground; @include z('sidebar-notices');
  .container { height: 96px; padding: 0 16px;
    .notices {}

    @media screen and (min-width: $tabletWidth) {
      .notices {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 40px 48px 40px 64px;
      .notices {}
    }
  }

  @media screen and (min-width: $desktopWidth) { width: 380px; }
}

main { display: flex; flex-direction: column; @include z('main');
  .content { width: 100%; background: $white; }

  @media screen and (min-width: $desktopWidth) { margin-left: 116px; flex-direction: row-reverse; justify-content: space-between;
    .content { width: calc(100% - 380px); }
  }
}

footer { @include z('footer');
  .container { padding: 28px 32px 56px;
    .footer {
      &-about { margin-bottom: 32px;
        &__title { margin-bottom: 12px; }
        &__text p { color: $lightTextColor; font-size: 14px; }
      }
      &-contacts {
        &__phone,
        &__email { display: flex; align-items: center; }
        &__icon {}
        &__group {}
        &__note {}
        &__link {
          a { line-height: 22px; }
        }
      }
      &-menu {
        ul {
          li {
            a {}
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .footer {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 54px 64px 94px;
      .footer {}
    }
  }

  @media screen and (min-width: $desktopWidth) { margin-left: 116px; }
}


/* Page styles */
@import 'page/auth';
@import 'page/index';
@import 'page/programs';
@import 'page/metrics';
@import 'page/settings';
