
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../font/Montserrat/static/Montserrat-Regular.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('../font/Montserrat/static/Montserrat-Italic.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../font/Montserrat/static/Montserrat-Bold.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
    url('../font/Montserrat/static/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../font/Montserrat/static/Montserrat-SemiBold.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../font/Montserrat/static/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../font/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
