
$black                     : #000000;
$darkGrey                  : #dbe1e1;
$paleGrey                  : #eef2f2;
$lightGrey                 : #f7faf9;
$white                     : #ffffff;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Montserrat', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1248px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : #0a1625;
$mainColor_opacity         : rgba(10, 22, 37, .3);
$mainBackground            : #f7faf9;
$linkColor                 : #4ca8bc;
$linkColor_hover           : #4ca8bc;
$buttonBackground          : #0a1625;
$buttonBackground_hover    : #213854;
$buttonBackground_focus    : #4ca8bc;
$accentColor               : #ac13ff;
$successColor              : #4ca8bc;
$warningColor              : #dc2d70;
$errorColor                : #dc2d70;

$borderColor               : #eaeef3;
$lightTextColor            : #9a9ea6;

/* Color shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba(10, 22, 37, .66);

/* Color gradients */
$mainGradient              : linear-gradient(90deg, #64DDF2 0%, #72D357 100%);
