-
  let menu = [
    { url: '#', title: 'О нас' },
    { url: '#', title: 'Контакты' },
    { url: '#', title: 'Соглашение пользователей' },
    { url: '#', title: 'Пресс-кит' },
    { url: '#', title: 'Документация' },
    { url: '#', title: 'Новости' }
  ]

footer
  .container
    .footer-about
      .footer-about__title
        h2 Что такое ORAX?
      .footer-about__text
        p Удобные системы низкорискованных инвестиций в коммерческую недвижимость. Для этого мы собрали спецов, которые находят перспективны
    ul.footer-contacts
      li.footer-contacts__phone
        .footer-contacts__icon
          img(src='/image/icon/phone.svg' alt='icon')
        .footer-contacts__group
          .footer-contacts__note У вас есть вопрос?
          .footer-contacts__link
            a(href='tel:+78002393040' title='Позвоните нам') 8 800 239-30-40
      li.footer-contacts__email
        .footer-contacts__icon
          img(src='/image/icon/email.svg' alt='icon')
        .footer-contacts__group
          .footer-contacts__note Пишите нам на
          .footer-contacts__link
            a(href='mailto:hello@orax.pro' title='Напишите нам') hello@orax.pro
    nav.footer-menu
      ul
        each link in menu
          li
            a(href=link.url title=link.title) #{ link.title }
