-
  let menu = [
    { url: '/', title: 'Личный кабинет', icon: 'dashboard', current: true },
    { url: '/programs.html', title: 'Целевые программы', icon: 'programs' },
    { url: '/metrics.html', title: 'Рефералы', icon: 'metrics' },
    { url: '/settings.html', title: 'Настройки', icon: 'settings' },
    { url: '/sign_in.html', title: 'Выйти', icon: 'exit' }
  ]

aside#sidebar-menu
  .container
    .logo
      a(href='/' title='ORAX')
        img(src='/image/logo.min.png' srcset='/image/logo.min.png 2x' alt='ORAX')
    nav.main-menu
      ul
        each link in menu
          li(class=(link.current === true ? 'current' : undefined))
            a(href=link.url title=link.title)
              svg
                use(href='/image/icon/' + link.icon + '.svg#' + link.icon)
              span #{ link.title }
