
/* Auth pages */
#auth {
  .container { min-height: calc(100vh - 96px);
    .auth {}

    @media screen and (min-width: $tabletWidth) {
      .auth {}
    }
    @media screen and (min-width: $desktopWidth) {
      .auth {}
    }
  }
}
