
/* Metrics page */
#metrics {
  .container { min-height: calc(100vh - 96px);
    .metrics {}

    @media screen and (min-width: $tabletWidth) {
      .metrics {}
    }
    @media screen and (min-width: $desktopWidth) {
      .metrics {}
    }
  }
}
