
/* Programs page */
#programs {
  .container { min-height: calc(100vh - 96px);
    .programs {}

    @media screen and (min-width: $tabletWidth) {
      .programs {}
    }
    @media screen and (min-width: $desktopWidth) {
      .programs {}
    }
  }
}
