
/* Settings page */
#settings {
  .container { min-height: calc(100vh - 96px);
    .settings {}

    @media screen and (min-width: $tabletWidth) {
      .settings {}
    }
    @media screen and (min-width: $desktopWidth) {
      .settings {}
    }
  }
}
